* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Pour inclure les paddings et bordures dans la taille des éléments */
}

#actualTime, Seconds{
z-index: 1;
text-align: center;
padding-top: 300px;
padding-left: 10px;
padding-bottom: 50px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: bold;
color: rgb(255, 255, 255);
font-size: 40px;
letter-spacing: 20px;
}

body{
    background-color: rgb(0, 0, 0);
    display:grid;
}

/* HTML: <div class="loader"></div> */
.loader {
    z-index: 1;
    width: 60px;
    aspect-ratio: 4;
    --c:#ffffff 90%,#ffffff00;
    background: 
      radial-gradient(circle closest-side at left  6px top 50%,var(--c)),
      radial-gradient(circle closest-side                     ,var(--c)),
      radial-gradient(circle closest-side at right 6px top 50%,var(--c));
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: l4 1s infinite alternate;
    justify-self: center;
  }
  
  @keyframes l4 {
      to{width:25px;aspect-ratio: 1}
  }



   /* L'eau */
   .coloredWater {
    position: absolute;
    bottom: -100%; /* L'eau commence en bas, en dehors de la vue */
    width: 100%;
    height: 100%;
   background: rgb(131,58,180);
background: linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 46%, rgba(252,176,69,1) 100%);
    animation: fillWater 5s ease-in-out forwards;
  }
  
  /* Animation de remplissage */
  @keyframes fillWater {
    to {
      bottom: 0; /* L'eau remplit l'écran entier */
    }
  }